# API Configuration
VITE_API_URL=http://localhost:8009/api/v1

# Optional: For production, override with your deployment domain
# VITE_API_URL=https://api.yourdomain.com/api/v1

# stripe test keys

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51Rl7j7PZw3rFa8gKb42oQ87EfEvs7gkGU4sMSfTTpWV7992XQC5fvCFu9LA0BVpH5lKUp2lSOr6g52ztASUAW5Pn00KFDrWfkj
